@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #d1cece;
  height: 100vh;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 40px;
  margin-right: 2px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo span {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}
.a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  max-width: 420px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px #0075ff;
}
.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}